/* All styles for your header Components live here */
.HeaderContainer{
    /* height: 100px; */
    display: flex;
}

img{
    width: 100px;
}

.HeaderTitle{

}

.HeaderContent{

}

.ImageThumbnail{
    width: 20%;
}